.v-context {
    user-select: none;
}

.recipient-col {
    background-color: #3e972d;
}

.cke_combo_text{
	width:auto!important;
}

body {
    font-family: "Open Sans" !important;
}

hr.dotted {
    border-bottom: 2px dotted #8c8b8b;
    padding: 0;
    margin: 0;
    margin-top: 1em;
}

table.idio-platos {
    table-layout: fixed;
}

table th {
    text-align: center;
}

.admin-button, .home-button {
    width: 22em;
    max-height: 20em;
    margin: 0 1em;
}

.admin-button div.card, .home-button div.card {
    padding: 0.5em;
}

.admin-icon {
    width: 256px;
    height: 256px;
}

.role-list {
    list-style-type: none;
}

.preview-toolbar-button {
    max-height: 5em;
    width: 5em;
    padding: 0.6em 0 !important;
    border: 0 !important;
}

.preview-toolbar-button span {
    font-size: 0.8em !important;
}

table.no-border > tbody > tr > td {
    border-style : hidden!important;
}

.show-pointer {
    cursor: pointer;
}
