.v-context {
    user-select: none;
}

.recipient-col {
    background-color: #3e972d;
}

.cke_combo_text{
	width:auto!important;
}

body {
    font-family: "Open Sans",sans-serif !important;
}

hr.dotted {
    border-bottom: 2px dotted #8c8b8b;
    padding: 0;
    margin: 0;
    margin-top: 1em;
}

table.idio-platos {
    table-layout: fixed;
}

table th {
    text-align: center;
}
