@media print {
    body {
        background: transparent !important; /* <= DISABLES backgrounds */
    }

    .container {
        max-width: unset !important;
        padding: 0 !important;
    }
}
